<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9Y_Jr20Ssmgo01LFiu3SlG3wqbkpL4DY</string>
	<key>GCM_SENDER_ID</key>
	<string>690512973236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breakdownAssist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>break-down-assist-3f418</string>
	<key>STORAGE_BUCKET</key>
	<string>break-down-assist-3f418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690512973236:ios:78922bf5b37d9d9d1676e1</string>
</dict>
</plist>